*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* blu scuro */
/* #10254b */
/* blu chiaro */
/* #355289 */

/* header */
header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1{
  margin: 10px 0 10px 0;
}

#select{
  padding: 0 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  background-color: #10254b;
  color: white;
  font-weight: bold;
  border-style: none;
  border-radius: 5px;
  padding: 10px 30px;
  width: 110px;
}

button:hover {
  background-color: #355289;
  cursor: pointer;
}

/* main */
main{
  height: 77vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  width: 550px;
  height: 550px;
  display: flex;
  flex-wrap: wrap;
  background-color: #10254b;
  /* background-color: rgb(1, 90, 255); */
}

/** caselle */
.square{
  border: 2px solid rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
  
/** 100 caselle */
/** Facile */
/* .easy{
  width: calc(100% / 10);
  height: calc(100% / 10);
} */

/** 81 caselle */
/** Difficile */
/* .hard{
  width: calc(100% / 9);
  height: calc(100% / 9);
} */

/** 49 caselle */
/** Crazy */
/* .crazy{
  width: calc(100% / 7);
  height: calc(100% / 7);
} */

  .square.clicked{
  background-color: #355289;
}

.square.clicked.bomb{
  background-color: red;
}

/* footer */
footer{
  display: flex;
  justify-content: flex-start;
  padding: 15px;
}

.credit{
  margin: auto;
}